div.container
  div.hero-unit
    h1.text-center MOOWING
    h4.text-center.muted "The right way to moove"
    p Congratulations on your decision to move to Pittsburgh, PA - the best* place to live in America. We're so excited about Pittsburgh, we want to share some fun facts with you:

    ul
      li Pittsburgh is also called the "City of Bridges" with 446 bridges (it's a world record)
      li Pittsburgh has three rivers - Alleghany, Monongahela and Ohio rivers
      li Pittsburgh has 90 neighborhoods... yes, that's 90 neighborhoods.

    p Deciding which neighborhood to choose to stay can be a daunting task.

    p MooWing is designed to help with exactly that problem. By providing you with tools to prioritize what all are important elements in a neighborhood for you, we'll shortlist and present you with the best matching neighborhood for you.
    div.container
      div.text-center.span10
        a.fly-button.btn.btn-primary(href='/prioritize') MOOVE