!!!
html
  head
    title= title
    link(rel='stylesheet', href='/lib/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/custom.css')
    link(rel="stylesheet", href="/lib/jquery-bootstrap/jquery-ui-1.10.0.custom.css")
    script(src="/lib/jquery/jquery-1.9.1.js")
    script(src="/lib/jquery/jquery-ui.js")


  div.navbar.navbar-fixed-top.navbar-inverse
    div.navbar-inner
      div.container
        a.brand(href="/") MOOWING
        
  body!= body

  div.footer
    p &copy; PittFighters 2013