!!!
html
  head
    title= title
    link(rel='stylesheet', href='/lib/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/custom.css')
  div.navbar.navbar-fixed-top.navbar-inverse
    div.navbar-inner
      div.container
        a.brand(href='') MOOWING
        
  body!= body

  div.footer
    p &copy; PittFighters 2013