div.container
  div.hero-unit
    p Let's play a game! Mooove the boxes from left to right based on what's important to you. The most important factor goes on top, the next one below that ... you get the drift. Not all boxes need to be moved, just the ones you really care about.
    p Don't worry, nobody's watching - it's okay to put your cat as most important.

    div.container.priority-controls
      a.text-center.btn.btn-primary(href="#") Where should I live?
      div.container
        ul#sortable1.connectedSortable
          each facet in facets
            li.text-center.ui-state-default(id="#{facet.id}")
              h5=facet.name
        ul#sortable2.connectedSortable
          p(style = "text-align:center; color:white") Drag stuff here
          
    script
      $(function() {
        $( "#sortable1, #sortable2" ).sortable({
          connectWith: ".connectedSortable"
       }).disableSelection();
      });
      
      $(".btn-primary").click(function() {
        console.log("click")
        var query_string = ""
        var $selected_items = $("#sortable2").children().each(function (index, child){
          if(child.id) {
            query_string = query_string + child.id.toString() + ",";
          }
        });

        if(query_string === "") {
          console.log("Select something!");
          return;
        }

        // Trim off the last of comma
        query_string = query_string.substring(0, query_string.length - 1)
        window.location = "/results?facets=" + query_string;
      });
      
    
