.priority-controls a {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 25px;
  margin-top: 10px;
  margin-left: 260px;
}

#sortable1, #sortable2 { 
  list-style-type: none; 
  width: 270px; 
  background-color:#555;
  border-radius:5px;
  box-shadow: inset 5px 5px 3px #222;
  padding-top:10px
}

#sortable1 {
    float: left; 
    margin-left:65px;
}

#sortable2 {
    float: right; 
    margin-right:245px;
}
#sortable1 li, #sortable2 li { 
  box-shadow: 2px 2px 1px #222;
  border-radius: 8px;
  margin-left:15px;
  margin-right: 15px;
  margin-top:5px;
  margin-bottom:10px;
  padding-left:20px;
  padding-right:20px;
  text-align:center;
/*  font-size: 1.2em; */
/*  width: 250px; */
}

body {
    padding-top: 40px; /* 40px to make the container go all the way to the bottom of the topbar */
}
.container > footer p {
  text-align: center; /* center align it with the container */
}
 
.footer p {
  text-align: center; /* center align it with the container */
}
  
/* The white background content wrapper */
.content {
  background-color: #fff;
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  box-shadow: 0 1px 2px rgba(0,0,0,.15);
}
  
/* Page header tweaks */
.page-header {
  background-color: #f5f5f5;
  padding: 20px 20px 10px;
  margin: -20px -20px 20px;
}
  
/* Styles you shouldn't keep as they are for displaying this base example only */
.content .span10,
.content .span4 {
  min-height: 500px;
}
/* Give a quick and non-cross-browser friendly divider */
.content .span4 {
  margin-left: 0;
  padding-left: 19px;
  border-left: 1px solid #eee;
}
  
.topbar {
  border: 0;
}
 
.btn {
  padding: 5px 14px 6px;
}
 
.login-prompt {
  margin-top : 10px;
  margin-bottom : 2px;
  margin-left: 10px;
  margin-right: 10px;
  font-size : 20px;
  color : #ffffff;
}
 
.top-bar-form {
  margin-bottom : -1px;
}
 
.top-bar-form-button {
  margin-top: 1px;
  margin-left : 2px;
  margin-right: 2px;
}
 
.top-bar-form-textbox {
  margin-right : 2px;
  margin-left : 2px;
  margin-top : 4px;
}

.footer {
  float: center;
  list-style: none;
}

.postcard {
  position: relative;
  width: 100%;
}

.postcard img{
  border: 10px solid #fff;
  box-shadow: -10px 10px 30px #555;
  display: block;
  margin: 0 auto;
  max-width: 600px;
}
.postcard h1 {
  color: white;
  text-shadow: -3px 3px #555;
  position: absolute;
  top: 25px;
  left: 0;
  width: 100%;
}

#results-pane p {
  padding-top:20px;
}

.scores dl {
  width: 300px;
}

.also {
  float:right;
  margin-right:50px;
}

.scores {
  float:left;
  margin-top:18px;
  padding-left:15px;
  padding-right:15px;
  background:#eee;
  border-radius:5px;
}

.scores dl dd {
  margin-left:0px;
}

.otherPlaces {
}

.otherPlaces ul {
  float: left;
  background-color: #888;
  padding: 10px;
}

.otherPlaces ul li {
  display: inline;
}

.aPlace {
  float: left;
  width: 100px;
  margin: 10px;
}

.aPlace img {
  max-width: 100px;
  border: 2px solid #fff;
}

.aPlace p {
  font-size: 12px;
}
